
  
  <div class="container jumbotron" >
  
    <div fxFlex>
      <div fxFlex fxFlex.gt-sm="20%">

    </div>
  </div>
  <mat-toolbar class = "toolbar" >
 <!--   <span><img src="/assets/images/LogoX.png" height=30 width=41></span> -->

    <p>X-Comm</p>
    <span class ="flex-spacer"></span>
    <a mat-button routerLink='/home' routerLinkActive='active'><span class="fa fa-home fa-lg"></span> Inicio</a>
    <a mat-button routerLink='/crearconvenio' routerLinkActive='active'><span class="fa fa-info fa-lg"></span> Crear Convenio</a>
    <a mat-button  routerLink='/resumen'routerLinkActive='active'><span class="fa fa-list fa-lg"></span> Resumen</a>
    <!-- <a mat-button  routerLink='/home/90006547345'routerLinkActive='active'><span class="fa fa-list fa-lg"></span> Resumen2</a> -->

    <!--<a mat-button  routerLinkActive='active'><span class="fa fa-address-card fa-lg"></span> Soporte</a>
    
    <a mat-button ><span class="fa fa-sign-in fa-lg"></span>Iniciar Sesion</a>
  -->
  </mat-toolbar>

  </div>