<mat-toolbar color = "primary">
    <h1></h1>
    
    <span class = "flex-spacer"></span>
    <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>




<div class="container"
fxLayout="column"
fxLayoutGap="10px"
fxFlexAlign="center">

<div fxFlex
fxFlexAlign="center">
  <div>
      <h3>Nombre del convenio</h3>
      <p>
        Today's item: {{nit}}
      </p>

      <hr>
  </div>
</div>


<div     >
  <table   mat-table  class="mat-elevation-z8">
      

          <ng-container matColumnDef="nombre">
              <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
              <mat-cell  *matCellDef="let element"> {{element.nombre}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="empTelLocal_nit">
            <mat-header-cell *matHeaderCellDef> NIT </mat-header-cell>
            <mat-cell  *matCellDef="let element"> {{element.empTelLocal_nit}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="correo">
            <mat-header-cell *matHeaderCellDef> Correo </mat-header-cell>
            <mat-cell  *matCellDef="let element"> {{element.correo}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="valor_minuto">
            <mat-header-cell *matHeaderCellDef> Valor minuto </mat-header-cell>
            <mat-cell  *matCellDef="let element"> {{element.valor_minuto}} </mat-cell>
        </ng-container>
         
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>      
      
  </table>
  
</div>