.mat-list .mat-list-item {
    box-sizing: content-box;
    display: flex;
    border: solid #5B6DCD 1px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 1% 1% 1% 5%;

    border-radius: 5px;

    background-color: rgba(0,0,0,0.04);
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    height:70%;
    width: 90%;

   
  }


  #opcion {
    background-color: rgba(0,0,0,0.04);
    display: flex;
    justify-content: center;
    margin: -10px 0px 3% 15%;


    box-sizing: content-box;
    border-radius: 5px;
    border: solid #5B6DCD 1px;
    height:35px;
    width: 70%;

  }

  .example-button-row {
    display: table-cell;
    width: 60%;
    height:50px;
    margin: -10px 0px 3% 20%;
    border-radius: 5px;


  }
  
  .mat-form-field{
    margin-left: 15%;
    width: 70%;

  }

  

 