<div class="container"
  fxLayout="column"
  fxLayoutGap="10px"
  fxFlexAlign="center"
  >
  <div fxFlex
  fxFlexAlign="center">
    <div>
        <h3>Convenios </h3>
       
        <hr>
    </div>
    

  </div>

  <mat-form-field class="search-form-field" floatLabel="never">
   
    <input matInput (keyup)="applyFilter($event.target.value)" autocomplete="off" placeholder="Buscar" #input>
  </mat-form-field>


  <div class="mat-elevation-z8">
    <mat-table    mat-table  [dataSource]="dataSource">
            <ng-container matColumnDef="empTelLocal_nit" >
                <mat-header-cell *matHeaderCellDef > Nit </mat-header-cell>
                <mat-cell  *matCellDef="let element"   > {{element.empTelLocal_nit  }} </mat-cell>
                
                <!-- <app-convenioinfo [nit]="element.empTelLocal_nit" ></app-convenioinfo> -->
                <!-- <a mat-button (click)=openConvenioInfo()> </a> -->
            </ng-container>
            
            <ng-container matColumnDef="nombre" >
                <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                <mat-cell  *matCellDef="let element" > {{element.nombre}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">

                <button mat-icon-button  class="material-icons" (click)="openConvenioInfo(element.empTelLocal_nit)"><mat-icon>launch</mat-icon></button> 
    
                  <!-- <button mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button> -->
                </mat-cell>
              </ng-container>
         
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>      

    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>



   
  </div>

</div>
